net8webapi/bin/Debug/net8.0/appsettings.Development.json
net8webapi/bin/Debug/net8.0/appsettings.json
net8webapi/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
net8webapi/bin/Debug/net8.0/Microsoft.OpenApi.dll
net8webapi/bin/Debug/net8.0/net8webapi
net8webapi/bin/Debug/net8.0/net8webapi.deps.json
net8webapi/bin/Debug/net8.0/net8webapi.dll
net8webapi/bin/Debug/net8.0/net8webapi.pdb
net8webapi/bin/Debug/net8.0/net8webapi.runtimeconfig.json
net8webapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
net8webapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
net8webapi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
net8webapi/obj/net8webapi.csproj.nuget.dgspec.json
net8webapi/obj/net8webapi.csproj.nuget.g.props
net8webapi/obj/net8webapi.csproj.nuget.g.targets
net8webapi/obj/project.assets.json
net8webapi/obj/project.nuget.cache
net8webapi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
net8webapi/obj/Debug/net8.0/apphost
net8webapi/obj/Debug/net8.0/net8webapi.AssemblyInfo.cs
net8webapi/obj/Debug/net8.0/net8webapi.AssemblyInfoInputs.cache
net8webapi/obj/Debug/net8.0/net8webapi.assets.cache
net8webapi/obj/Debug/net8.0/net8webapi.csproj.AssemblyReference.cache
net8webapi/obj/Debug/net8.0/net8webapi.csproj.CopyComplete
net8webapi/obj/Debug/net8.0/net8webapi.csproj.CoreCompileInputs.cache
net8webapi/obj/Debug/net8.0/net8webapi.csproj.FileListAbsolute.txt
net8webapi/obj/Debug/net8.0/net8webapi.dll
net8webapi/obj/Debug/net8.0/net8webapi.GeneratedMSBuildEditorConfig.editorconfig
net8webapi/obj/Debug/net8.0/net8webapi.genruntimeconfig.cache
net8webapi/obj/Debug/net8.0/net8webapi.GlobalUsings.g.cs
net8webapi/obj/Debug/net8.0/net8webapi.MvcApplicationPartsAssemblyInfo.cache
net8webapi/obj/Debug/net8.0/net8webapi.MvcApplicationPartsAssemblyInfo.cs
net8webapi/obj/Debug/net8.0/net8webapi.pdb
net8webapi/obj/Debug/net8.0/staticwebassets.build.json
net8webapi/obj/Debug/net8.0/ref/net8webapi.dll
net8webapi/obj/Debug/net8.0/refint/net8webapi.dll
net8webapi/obj/Debug/net8.0/staticwebassets/msbuild.build.net8webapi.props
net8webapi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.net8webapi.props
net8webapi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.net8webapi.props
